<form class="form-horizontal">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="curWidget.config.option.colorShow"
                           ng-init="curWidget.config.option.colorShow ? null : curWidget.config.option.colorShow=true"> init Color
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="col-md-4 control-label">theme</label>
            <div class="col-md-8">
                <select class="form-control" ng-model="curWidget.config.option.colorTheme" ng-disabled="!curWidget.config.option.colorShow">
                    <!--2020-05-13 catty-->
                    <option value="theme1">theme1</option>
                    <option value="theme2">theme2</option>
                    <option value="orange">orange</option>
                    <option value="dark">dark</option>
                    <option value="default">default</option>

                </select>
            </div>
        </div>

    </div>
</form>