<div class="col-xs-3 col-md-2">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
        <li class="active"><a href="#grid" data-toggle="tab">{{'WIDGET_OPTION.GRID'|translate}}</a></li>
        <li><a href="#legend" data-toggle="tab">{{'WIDGET_OPTION.LEGEND'|translate}}</a></li>
        <li><a href="#ctgAxis" data-toggle="tab">{{'WIDGET_OPTION.CATEGORY_AXIS'|translate}}</a></li>
        <li><a href="#valAxis" data-toggle="tab">{{'WIDGET_OPTION.VALUE_AXIS'|translate}}</a></li>
        <li><a href="#ext" data-toggle="tab">{{'WIDGET_OPTION.EXT'|translate}}</a></li>
        <!--2020-05-15 cat-->
        <li><a href="#config" data-toggle="tab">{{'WIDGET_OPTION.COLOR_CONFIG'|translate}}</a></li>
        <!--2020-05-25 cat-->
        <li><a href="#lineType" data-toggle="tab">{{'WIDGET_OPTION.LINE_CONFIG'|translate}}</a></li>
        <li><a href="#barType" data-toggle="tab">{{'WIDGET_OPTION.BAR_CONFIG.STYLE'|translate}}</a></li>
    </ul>
</div>
<div class="col-xs-9 col-md-10">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="grid">
            <ng-include src="'org/cboard/view/config/chart/options/common/grid.html'"></ng-include>
        </div>
        <div class="tab-pane" id="legend">
            <ng-include src="'org/cboard/view/config/chart/options/common/legend.html'"></ng-include>
        </div>
        <div class="tab-pane" id="ctgAxis">
            <ng-include src="'org/cboard/view/config/chart/options/common/categoryAxis.html'"></ng-include>
        </div>
        <div class="tab-pane" id="valAxis">
            <form class="form-horizontal">
                <div class="row" ng-repeat="v in curWidget.config.values">
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" style="padding: 7px 2px">{{$index}}-{{'CONFIG.WIDGET.AXIS_NAME'|translate}}</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="v.name">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-md-4 control-label" style="padding: 7px 2px">{{$index}}-Min</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="v.min">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-md-4 control-label" style="padding: 7px 2px">{{$index}}-Max</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="v.max">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="ext">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="curWidget.config.option.dataZoom" ng-init="curWidget.config.option.dataZoom=false">{{'WIDGET_OPTION.ZOOM_CONFIG.SHOW_DATAZOOM'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">{{'WIDGET_OPTION.ORIENT'|translate}}</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="curWidget.config.valueAxis"
                                    ng-init="curWidget.config.valueAxis ? null : curWidget.config.valueAxis='vertical'">
                                <option value="horizontal">{{'WIDGET_OPTION.ORIENT_TYPE.HORIZONTAL'|translate}}</option>
                                <option value="vertical">{{'WIDGET_OPTION.LEGEND_TYPE.CENTER'|translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">{{'WIDGET_OPTION.ZOOM_CONFIG.COORDINATE_SYSTEM'|translate}}</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="curWidget.config.coordinateSystem"
                                    ng-init="curWidget.config.coordinateSystem ? null : curWidget.config.coordinateSystem='cartesian2d'"
                                    ng-change="curWidget.config.coordinateSystem == 'polar' ? curWidget.config.values = curWidget.config.values.slice(0, 1) : null">
                                <option value="cartesian2d">{{'WIDGET_OPTION.ZOOM_CONFIG.COORDINATE_SYSTEM_TYPE.CARTESIAN2D'|translate}}</option>
                                <option value="polar">{{'WIDGET_OPTION.ZOOM_CONFIG.COORDINATE_SYSTEM_TYPE.POLAR'|translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane " id="config">
            <ng-include src="'org/cboard/view/config/chart/options/common/color.html'"></ng-include>
        </div>
        <div class="tab-pane " id="lineType">
            <ng-include src="'org/cboard/view/config/chart/options/common/line.html'"></ng-include>
        </div>
        <div class="tab-pane " id="barType">
            <ng-include src="'org/cboard/view/config/chart/options/common/bar.html'"></ng-include>
        </div>
    </div>
</div>